{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "http://try.gitea.io/api/v1"
        },
        {
            "url": "https://try.gitea.io/api/v1"
        }
    ],
    "info": {
        "contact": {
            "x-twitter": "giteaio"
        },
        "description": "This documentation describes the Gitea API.",
        "license": {
            "name": "MIT",
            "url": "http://opensource.org/licenses/MIT"
        },
        "title": "Gitea API.",
        "version": "1.1.1",
        "x-apisguru-categories": [
            "developer_tools"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_giteaio_profile_image.jpeg"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://try.gitea.io/swagger.v1.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "gitea.io"
    },
    "security": [
        {
            "BasicAuth": []
        },
        {
            "Token": []
        },
        {
            "AccessToken": []
        },
        {
            "AuthorizationHeaderToken": []
        },
        {
            "SudoParam": []
        },
        {
            "SudoHeader": []
        }
    ],
    "paths": {
        "/admin/orgs": {
            "get": {
                "operationId": "adminGetAllOrgs",
                "responses": {
                    "200": {
                        "description": "OrganizationList",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "description": "Organization represents an organization",
                                        "properties": {
                                            "avatar_url": {
                                                "type": "string",
                                                "x-go-name": "AvatarURL"
                                            },
                                            "description": {
                                                "type": "string",
                                                "x-go-name": "Description"
                                            },
                                            "full_name": {
                                                "type": "string",
                                                "x-go-name": "FullName"
                                            },
                                            "id": {
                                                "format": "int64",
                                                "type": "integer",
                                                "x-go-name": "ID"
                                            },
                                            "location": {
                                                "type": "string",
                                                "x-go-name": "Location"
                                            },
                                            "username": {
                                                "type": "string",
                                                "x-go-name": "UserName"
                                            },
                                            "website": {
                                                "type": "string",
                                                "x-go-name": "Website"
                                            }
                                        },
                                        "type": "object",
                                        "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                                    },
                                    "type": "array"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "items": {
                                        "description": "Organization represents an organization",
                                        "properties": {
                                            "avatar_url": {
                                                "type": "string",
                                                "x-go-name": "AvatarURL"
                                            },
                                            "description": {
                                                "type": "string",
                                                "x-go-name": "Description"
                                            },
                                            "full_name": {
                                                "type": "string",
                                                "x-go-name": "FullName"
                                            },
                                            "id": {
                                                "format": "int64",
                                                "type": "integer",
                                                "x-go-name": "ID"
                                            },
                                            "location": {
                                                "type": "string",
                                                "x-go-name": "Location"
                                            },
                                            "username": {
                                                "type": "string",
                                                "x-go-name": "UserName"
                                            },
                                            "website": {
                                                "type": "string",
                                                "x-go-name": "Website"
                                            }
                                        },
                                        "type": "object",
                                        "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "APIForbiddenError is a forbidden error response",
                        "headers": {
                            "message": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "url": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "summary": "List all organizations",
                "tags": [
                    "admin"
                ]
            }
        },
        "/admin/users": {
            "get": {
                "operationId": "adminGetAllUsers",
                "responses": {
                    "200": {
                        "description": "UserList",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "description": "User represents a user",
                                        "properties": {
                                            "avatar_url": {
                                                "description": "URL to the user's avatar",
                                                "type": "string",
                                                "x-go-name": "AvatarURL"
                                            },
                                            "email": {
                                                "format": "email",
                                                "type": "string",
                                                "x-go-name": "Email"
                                            },
                                            "full_name": {
                                                "description": "the user's full name",
                                                "type": "string",
                                                "x-go-name": "FullName"
                                            },
                                            "id": {
                                                "description": "the user's id",
                                                "format": "int64",
                                                "type": "integer",
                                                "x-go-name": "ID"
                                            },
                                            "is_admin": {
                                                "description": "Is the user an administrator",
                                                "type": "boolean",
                                                "x-go-name": "IsAdmin"
                                            },
                                            "language": {
                                                "description": "User locale",
                                                "type": "string",
                                                "x-go-name": "Language"
                                            },
                                            "login": {
                                                "description": "the user's username",
                                                "type": "string",
                                                "x-go-name": "UserName"
                                            }
                                        },
                                        "type": "object",
                                        "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                                    },
                                    "type": "array"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "items": {
                                        "description": "User represents a user",
                                        "properties": {
                                            "avatar_url": {
                                                "description": "URL to the user's avatar",
                                                "type": "string",
                                                "x-go-name": "AvatarURL"
                                            },
                                            "email": {
                                                "format": "email",
                                                "type": "string",
                                                "x-go-name": "Email"
                                            },
                                            "full_name": {
                                                "description": "the user's full name",
                                                "type": "string",
                                                "x-go-name": "FullName"
                                            },
                                            "id": {
                                                "description": "the user's id",
                                                "format": "int64",
                                                "type": "integer",
                                                "x-go-name": "ID"
                                            },
                                            "is_admin": {
                                                "description": "Is the user an administrator",
                                                "type": "boolean",
                                                "x-go-name": "IsAdmin"
                                            },
                                            "language": {
                                                "description": "User locale",
                                                "type": "string",
                                                "x-go-name": "Language"
                                            },
                                            "login": {
                                                "description": "the user's username",
                                                "type": "string",
                                                "x-go-name": "UserName"
                                            }
                                        },
                                        "type": "object",
                                        "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "APIForbiddenError is a forbidden error response",
                        "headers": {
                            "message": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "url": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "summary": "List all users",
                "tags": [
                    "admin"
                ]
            },
            "post": {
                "operationId": "adminCreateUser",
                "responses": {
                    "201": {
                        "description": "User",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "User represents a user",
                                    "properties": {
                                        "avatar_url": {
                                            "description": "URL to the user's avatar",
                                            "type": "string",
                                            "x-go-name": "AvatarURL"
                                        },
                                        "email": {
                                            "format": "email",
                                            "type": "string",
                                            "x-go-name": "Email"
                                        },
                                        "full_name": {
                                            "description": "the user's full name",
                                            "type": "string",
                                            "x-go-name": "FullName"
                                        },
                                        "id": {
                                            "description": "the user's id",
                                            "format": "int64",
                                            "type": "integer",
                                            "x-go-name": "ID"
                                        },
                                        "is_admin": {
                                            "description": "Is the user an administrator",
                                            "type": "boolean",
                                            "x-go-name": "IsAdmin"
                                        },
                                        "language": {
                                            "description": "User locale",
                                            "type": "string",
                                            "x-go-name": "Language"
                                        },
                                        "login": {
                                            "description": "the user's username",
                                            "type": "string",
                                            "x-go-name": "UserName"
                                        }
                                    },
                                    "type": "object",
                                    "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "description": "User represents a user",
                                    "properties": {
                                        "avatar_url": {
                                            "description": "URL to the user's avatar",
                                            "type": "string",
                                            "x-go-name": "AvatarURL"
                                        },
                                        "email": {
                                            "format": "email",
                                            "type": "string",
                                            "x-go-name": "Email"
                                        },
                                        "full_name": {
                                            "description": "the user's full name",
                                            "type": "string",
                                            "x-go-name": "FullName"
                                        },
                                        "id": {
                                            "description": "the user's id",
                                            "format": "int64",
                                            "type": "integer",
                                            "x-go-name": "ID"
                                        },
                                        "is_admin": {
                                            "description": "Is the user an administrator",
                                            "type": "boolean",
                                            "x-go-name": "IsAdmin"
                                        },
                                        "language": {
                                            "description": "User locale",
                                            "type": "string",
                                            "x-go-name": "Language"
                                        },
                                        "login": {
                                            "description": "the user's username",
                                            "type": "string",
                                            "x-go-name": "UserName"
                                        }
                                    },
                                    "type": "object",
                                    "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "APIForbiddenError is a forbidden error response",
                        "headers": {
                            "message": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "url": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "APIValidationError is error format response related to input validation",
                        "headers": {
                            "message": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "url": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "summary": "Create a user",
                "tags": [
                    "admin"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "CreateUserOption create user options",
                                "properties": {
                                    "email": {
                                        "format": "email",
                                        "type": "string",
                                        "x-go-name": "Email"
                                    },
                                    "full_name": {
                                        "type": "string",
                                        "x-go-name": "FullName"
                                    },
                                    "login_name": {
                                        "type": "string",
                                        "x-go-name": "LoginName"
                                    },
                                    "must_change_password": {
                                        "type": "boolean",
                                        "x-go-name": "MustChangePassword"
                                    },
                                    "password": {
                                        "type": "string",
                                        "x-go-name": "Password"
                                    },
                                    "send_notify": {
                                        "type": "boolean",
                                        "x-go-name": "SendNotify"
                                    },
                                    "source_id": {
                                        "format": "int64",
                                        "type": "integer",
                                        "x-go-name": "SourceID"
                                    },
                                    "username": {
                                        "type": "string",
                                        "x-go-name": "Username"
                                    }
                                },
                                "required": [
                                    "username",
                                    "email",
                                    "password"
                                ],
                                "type": "object",
                                "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                            }
                        },
                        "text/plain": {
                            "schema": {
                                "description": "CreateUserOption create user options",
                                "properties": {
                                    "email": {
                                        "format": "email",
                                        "type": "string",
                                        "x-go-name": "Email"
                                    },
                                    "full_name": {
                                        "type": "string",
                                        "x-go-name": "FullName"
                                    },
                                    "login_name": {
                                        "type": "string",
                                        "x-go-name": "LoginName"
                                    },
                                    "must_change_password": {
                                        "type": "boolean",
                                        "x-go-name": "MustChangePassword"
                                    },
                                    "password": {
                                        "type": "string",
                                        "x-go-name": "Password"
                                    },
                                    "send_notify": {
                                        "type": "boolean",
                                        "x-go-name": "SendNotify"
                                    },
                                    "source_id": {
                                        "format": "int64",
                                        "type": "integer",
                                        "x-go-name": "SourceID"
                                    },
                                    "username": {
                                        "type": "string",
                                        "x-go-name": "Username"
                                    }
                                },
                                "required": [
                                    "username",
                                    "email",
                                    "password"
                                ],
                                "type": "object",
                                "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                            }
                        }
                    }
                }
            }
        },
        "/admin/users/{username}": {
            "delete": {
                "operationId": "adminDeleteUser",
                "parameters": [
                    {
                        "description": "username of user to delete",
                        "in": "path",
                        "name": "username",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "APIEmpty is an empty response"
                    },
                    "403": {
                        "description": "APIForbiddenError is a forbidden error response",
                        "headers": {
                            "message": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "url": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "APIValidationError is error format response related to input validation",
                        "headers": {
                            "message": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "url": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "summary": "Delete a user",
                "tags": [
                    "admin"
                ]
            },
            "patch": {
                "operationId": "adminEditUser",
                "parameters": [
                    {
                        "description": "username of user to edit",
                        "in": "path",
                        "name": "username",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "User represents a user",
                                    "properties": {
                                        "avatar_url": {
                                            "description": "URL to the user's avatar",
                                            "type": "string",
                                            "x-go-name": "AvatarURL"
                                        },
                                        "email": {
                                            "format": "email",
                                            "type": "string",
                                            "x-go-name": "Email"
                                        },
                                        "full_name": {
                                            "description": "the user's full name",
                                            "type": "string",
                                            "x-go-name": "FullName"
                                        },
                                        "id": {
                                            "description": "the user's id",
                                            "format": "int64",
                                            "type": "integer",
                                            "x-go-name": "ID"
                                        },
                                        "is_admin": {
                                            "description": "Is the user an administrator",
                                            "type": "boolean",
                                            "x-go-name": "IsAdmin"
                                        },
                                        "language": {
                                            "description": "User locale",
                                            "type": "string",
                                            "x-go-name": "Language"
                                        },
                                        "login": {
                                            "description": "the user's username",
                                            "type": "string",
                                            "x-go-name": "UserName"
                                        }
                                    },
                                    "type": "object",
                                    "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "description": "User represents a user",
                                    "properties": {
                                        "avatar_url": {
                                            "description": "URL to the user's avatar",
                                            "type": "string",
                                            "x-go-name": "AvatarURL"
                                        },
                                        "email": {
                                            "format": "email",
                                            "type": "string",
                                            "x-go-name": "Email"
                                        },
                                        "full_name": {
                                            "description": "the user's full name",
                                            "type": "string",
                                            "x-go-name": "FullName"
                                        },
                                        "id": {
                                            "description": "the user's id",
                                            "format": "int64",
                                            "type": "integer",
                                            "x-go-name": "ID"
                                        },
                                        "is_admin": {
                                            "description": "Is the user an administrator",
                                            "type": "boolean",
                                            "x-go-name": "IsAdmin"
                                        },
                                        "language": {
                                            "description": "User locale",
                                            "type": "string",
                                            "x-go-name": "Language"
                                        },
                                        "login": {
                                            "description": "the user's username",
                                            "type": "string",
                                            "x-go-name": "UserName"
                                        }
                                    },
                                    "type": "object",
                                    "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "APIForbiddenError is a forbidden error response",
                        "headers": {
                            "message": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "url": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "APIValidationError is error format response related to input validation",
                        "headers": {
                            "message": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "url": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "summary": "Edit an existing user",
                "tags": [
                    "admin"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "EditUserOption edit user options",
                                "properties": {
                                    "active": {
                                        "type": "boolean",
                                        "x-go-name": "Active"
                                    },
                                    "admin": {
                                        "type": "boolean",
                                        "x-go-name": "Admin"
                                    },
                                    "allow_create_organization": {
                                        "type": "boolean",
                                        "x-go-name": "AllowCreateOrganization"
                                    },
                                    "allow_git_hook": {
                                        "type": "boolean",
                                        "x-go-name": "AllowGitHook"
                                    },
                                    "allow_import_local": {
                                        "type": "boolean",
                                        "x-go-name": "AllowImportLocal"
                                    },
                                    "email": {
                                        "format": "email",
                                        "type": "string",
                                        "x-go-name": "Email"
                                    },
                                    "full_name": {
                                        "type": "string",
                                        "x-go-name": "FullName"
                                    },
                                    "location": {
                                        "type": "string",
                                        "x-go-name": "Location"
                                    },
                                    "login_name": {
                                        "type": "string",
                                        "x-go-name": "LoginName"
                                    },
                                    "max_repo_creation": {
                                        "format": "int64",
                                        "type": "integer",
                                        "x-go-name": "MaxRepoCreation"
                                    },
                                    "must_change_password": {
                                        "type": "boolean",
                                        "x-go-name": "MustChangePassword"
                                    },
                                    "password": {
                                        "type": "string",
                                        "x-go-name": "Password"
                                    },
                                    "prohibit_login": {
                                        "type": "boolean",
                                        "x-go-name": "ProhibitLogin"
                                    },
                                    "source_id": {
                                        "format": "int64",
                                        "type": "integer",
                                        "x-go-name": "SourceID"
                                    },
                                    "website": {
                                        "type": "string",
                                        "x-go-name": "Website"
                                    }
                                },
                                "required": [
                                    "email"
                                ],
                                "type": "object",
                                "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                            }
                        },
                        "text/plain": {
                            "schema": {
                                "description": "EditUserOption edit user options",
                                "properties": {
                                    "active": {
                                        "type": "boolean",
                                        "x-go-name": "Active"
                                    },
                                    "admin": {
                                        "type": "boolean",
                                        "x-go-name": "Admin"
                                    },
                                    "allow_create_organization": {
                                        "type": "boolean",
                                        "x-go-name": "AllowCreateOrganization"
                                    },
                                    "allow_git_hook": {
                                        "type": "boolean",
                                        "x-go-name": "AllowGitHook"
                                    },
                                    "allow_import_local": {
                                        "type": "boolean",
                                        "x-go-name": "AllowImportLocal"
                                    },
                                    "email": {
                                        "format": "email",
                                        "type": "string",
                                        "x-go-name": "Email"
                                    },
                                    "full_name": {
                                        "type": "string",
                                        "x-go-name": "FullName"
                                    },
                                    "location": {
                                        "type": "string",
                                        "x-go-name": "Location"
                                    },
                                    "login_name": {
                                        "type": "string",
                                        "x-go-name": "LoginName"
                                    },
                                    "max_repo_creation": {
                                        "format": "int64",
                                        "type": "integer",
                                        "x-go-name": "MaxRepoCreation"
                                    },
                                    "must_change_password": {
                                        "type": "boolean",
                                        "x-go-name": "MustChangePassword"
                                    },
                                    "password": {
                                        "type": "string",
                                        "x-go-name": "Password"
                                    },
                                    "prohibit_login": {
                                        "type": "boolean",
                                        "x-go-name": "ProhibitLogin"
                                    },
                                    "source_id": {
                                        "format": "int64",
                                        "type": "integer",
                                        "x-go-name": "SourceID"
                                    },
                                    "website": {
                                        "type": "string",
                                        "x-go-name": "Website"
                                    }
                                },
                                "required": [
                                    "email"
                                ],
                                "type": "object",
                                "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                            }
                        }
                    }
                }
            }
        },
        "/admin/users/{username}/keys": {
            "post": {
                "operationId": "adminCreatePublicKey",
                "parameters": [
                    {
                        "description": "username of the user",
                        "in": "path",
                        "name": "username",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "PublicKey",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "PublicKey publickey is a user key to push code to repository",
                                    "properties": {
                                        "created_at": {
                                            "format": "date-time",
                                            "type": "string",
                                            "x-go-name": "Created"
                                        },
                                        "fingerprint": {
                                            "type": "string",
                                            "x-go-name": "Fingerprint"
                                        },
                                        "id": {
                                            "format": "int64",
                                            "type": "integer",
                                            "x-go-name": "ID"
                                        },
                                        "key": {
                                            "type": "string",
                                            "x-go-name": "Key"
                                        },
                                        "key_type": {
                                            "type": "string",
                                            "x-go-name": "KeyType"
                                        },
                                        "read_only": {
                                            "type": "boolean",
                                            "x-go-name": "ReadOnly"
                                        },
                                        "title": {
                                            "type": "string",
                                            "x-go-name": "Title"
                                        },
                                        "url": {
                                            "type": "string",
                                            "x-go-name": "URL"
                                        },
                                        "user": {
                                            "description": "User represents a user",
                                            "properties": {
                                                "avatar_url": {
                                                    "description": "URL to the user's avatar",
                                                    "type": "string",
                                                    "x-go-name": "AvatarURL"
                                                },
                                                "email": {
                                                    "format": "email",
                                                    "type": "string",
                                                    "x-go-name": "Email"
                                                },
                                                "full_name": {
                                                    "description": "the user's full name",
                                                    "type": "string",
                                                    "x-go-name": "FullName"
                                                },
                                                "id": {
                                                    "description": "the user's id",
                                                    "format": "int64",
                                                    "type": "integer",
                                                    "x-go-name": "ID"
                                                },
                                                "is_admin": {
                                                    "description": "Is the user an administrator",
                                                    "type": "boolean",
                                                    "x-go-name": "IsAdmin"
                                                },
                                                "language": {
                                                    "description": "User locale",
                                                    "type": "string",
                                                    "x-go-name": "Language"
                                                },
                                                "login": {
                                                    "description": "the user's username",
                                                    "type": "string",
                                                    "x-go-name": "UserName"
                                                }
                                            },
                                            "type": "object",
                                            "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                                        }
                                    },
                                    "type": "object",
                                    "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "description": "PublicKey publickey is a user key to push code to repository",
                                    "properties": {
                                        "created_at": {
                                            "format": "date-time",
                                            "type": "string",
                                            "x-go-name": "Created"
                                        },
                                        "fingerprint": {
                                            "type": "string",
                                            "x-go-name": "Fingerprint"
                                        },
                                        "id": {
                                            "format": "int64",
                                            "type": "integer",
                                            "x-go-name": "ID"
                                        },
                                        "key": {
                                            "type": "string",
                                            "x-go-name": "Key"
                                        },
                                        "key_type": {
                                            "type": "string",
                                            "x-go-name": "KeyType"
                                        },
                                        "read_only": {
                                            "type": "boolean",
                                            "x-go-name": "ReadOnly"
                                        },
                                        "title": {
                                            "type": "string",
                                            "x-go-name": "Title"
                                        },
                                        "url": {
                                            "type": "string",
                                            "x-go-name": "URL"
                                        },
                                        "user": {
                                            "description": "User represents a user",
                                            "properties": {
                                                "avatar_url": {
                                                    "description": "URL to the user's avatar",
                                                    "type": "string",
                                                    "x-go-name": "AvatarURL"
                                                },
                                                "email": {
                                                    "format": "email",
                                                    "type": "string",
                                                    "x-go-name": "Email"
                                                },
                                                "full_name": {
                                                    "description": "the user's full name",
                                                    "type": "string",
                                                    "x-go-name": "FullName"
                                                },
                                                "id": {
                                                    "description": "the user's id",
                                                    "format": "int64",
                                                    "type": "integer",
                                                    "x-go-name": "ID"
                                                },
                                                "is_admin": {
                                                    "description": "Is the user an administrator",
                                                    "type": "boolean",
                                                    "x-go-name": "IsAdmin"
                                                },
                                                "language": {
                                                    "description": "User locale",
                                                    "type": "string",
                                                    "x-go-name": "Language"
                                                },
                                                "login": {
                                                    "description": "the user's username",
                                                    "type": "string",
                                                    "x-go-name": "UserName"
                                                }
                                            },
                                            "type": "object",
                                            "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                                        }
                                    },
                                    "type": "object",
                                    "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "APIForbiddenError is a forbidden error response",
                        "headers": {
                            "message": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "url": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "APIValidationError is error format response related to input validation",
                        "headers": {
                            "message": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "url": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "summary": "Add a public key on behalf of a user",
                "tags": [
                    "admin"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "CreateKeyOption options when creating a key",
                                "properties": {
                                    "key": {
                                        "description": "An armored SSH key to add",
                                        "type": "string",
                                        "uniqueItems": true,
                                        "x-go-name": "Key"
                                    },
                                    "read_only": {
                                        "description": "Describe if the key has only read access or read/write",
                                        "type": "boolean",
                                        "x-go-name": "ReadOnly"
                                    },
                                    "title": {
                                        "description": "Title of the key to add",
                                        "type": "string",
                                        "uniqueItems": true,
                                        "x-go-name": "Title"
                                    }
                                },
                                "required": [
                                    "title",
                                    "key"
                                ],
                                "type": "object",
                                "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                            }
                        },
                        "text/plain": {
                            "schema": {
                                "description": "CreateKeyOption options when creating a key",
                                "properties": {
                                    "key": {
                                        "description": "An armored SSH key to add",
                                        "type": "string",
                                        "uniqueItems": true,
                                        "x-go-name": "Key"
                                    },
                                    "read_only": {
                                        "description": "Describe if the key has only read access or read/write",
                                        "type": "boolean",
                                        "x-go-name": "ReadOnly"
                                    },
                                    "title": {
                                        "description": "Title of the key to add",
                                        "type": "string",
                                        "uniqueItems": true,
                                        "x-go-name": "Title"
                                    }
                                },
                                "required": [
                                    "title",
                                    "key"
                                ],
                                "type": "object",
                                "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                            }
                        }
                    }
                }
            }
        },
        "/admin/users/{username}/keys/{id}": {
            "delete": {
                "operationId": "adminDeleteUserPublicKey",
                "parameters": [
                    {
                        "description": "username of user",
                        "in": "path",
                        "name": "username",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "id of the key to delete",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "APIEmpty is an empty response"
                    },
                    "403": {
                        "description": "APIForbiddenError is a forbidden error response",
                        "headers": {
                            "message": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "url": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "APINotFound is a not found empty response"
                    }
                },
                "summary": "Delete a user's public key",
                "tags": [
                    "admin"
                ]
            }
        },
        "/admin/users/{username}/orgs": {
            "post": {
                "operationId": "adminCreateOrg",
                "parameters": [
                    {
                        "description": "username of the user that will own the created organization",
                        "in": "path",
                        "name": "username",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Organization",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Organization represents an organization",
                                    "properties": {
                                        "avatar_url": {
                                            "type": "string",
                                            "x-go-name": "AvatarURL"
                                        },
                                        "description": {
                                            "type": "string",
                                            "x-go-name": "Description"
                                        },
                                        "full_name": {
                                            "type": "string",
                                            "x-go-name": "FullName"
                                        },
                                        "id": {
                                            "format": "int64",
                                            "type": "integer",
                                            "x-go-name": "ID"
                                        },
                                        "location": {
                                            "type": "string",
                                            "x-go-name": "Location"
                                        },
                                        "username": {
                                            "type": "string",
                                            "x-go-name": "UserName"
                                        },
                                        "website": {
                                            "type": "string",
                                            "x-go-name": "Website"
                                        }
                                    },
                                    "type": "object",
                                    "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "description": "Organization represents an organization",
                                    "properties": {
                                        "avatar_url": {
                                            "type": "string",
                                            "x-go-name": "AvatarURL"
                                        },
                                        "description": {
                                            "type": "string",
                                            "x-go-name": "Description"
                                        },
                                        "full_name": {
                                            "type": "string",
                                            "x-go-name": "FullName"
                                        },
                                        "id": {
                                            "format": "int64",
                                            "type": "integer",
                                            "x-go-name": "ID"
                                        },
                                        "location": {
                                            "type": "string",
                                            "x-go-name": "Location"
                                        },
                                        "username": {
                                            "type": "string",
                                            "x-go-name": "UserName"
                                        },
                                        "website": {
                                            "type": "string",
                                            "x-go-name": "Website"
                                        }
                                    },
                                    "type": "object",
                                    "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "APIForbiddenError is a forbidden error response",
                        "headers": {
                            "message": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "url": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "APIValidationError is error format response related to input validation",
                        "headers": {
                            "message": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "url": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "summary": "Create an organization",
                "tags": [
                    "admin"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "CreateOrgOption options for creating an organization",
                                "properties": {
                                    "description": {
                                        "type": "string",
                                        "x-go-name": "Description"
                                    },
                                    "full_name": {
                                        "type": "string",
                                        "x-go-name": "FullName"
                                    },
                                    "location": {
                                        "type": "string",
                                        "x-go-name": "Location"
                                    },
                                    "username": {
                                        "type": "string",
                                        "x-go-name": "UserName"
                                    },
                                    "website": {
                                        "type": "string",
                                        "x-go-name": "Website"
                                    }
                                },
                                "required": [
                                    "username"
                                ],
                                "type": "object",
                                "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                            }
                        },
                        "text/plain": {
                            "schema": {
                                "description": "CreateOrgOption options for creating an organization",
                                "properties": {
                                    "description": {
                                        "type": "string",
                                        "x-go-name": "Description"
                                    },
                                    "full_name": {
                                        "type": "string",
                                        "x-go-name": "FullName"
                                    },
                                    "location": {
                                        "type": "string",
                                        "x-go-name": "Location"
                                    },
                                    "username": {
                                        "type": "string",
                                        "x-go-name": "UserName"
                                    },
                                    "website": {
                                        "type": "string",
                                        "x-go-name": "Website"
                                    }
                                },
                                "required": [
                                    "username"
                                ],
                                "type": "object",
                                "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/admin/users/{username}/repos": {
            "post": {
                "operationId": "adminCreateRepo",
                "parameters": [
                    {
                        "description": "username of the user. This user will own the created repository",
                        "in": "path",
                        "name": "username",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {},
                    "403": {
                        "description": "APIForbiddenError is a forbidden error response",
                        "headers": {
                            "message": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "url": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "APIValidationError is error format response related to input validation",
                        "headers": {
                            "message": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "url": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "summary": "Create a repository on behalf a user",
                "tags": [
                    "admin"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "CreateRepoOption options when creating repository",
                                "properties": {
                                    "auto_init": {
                                        "description": "Whether the repository should be auto-intialized?",
                                        "type": "boolean",
                                        "x-go-name": "AutoInit"
                                    },
                                    "description": {
                                        "description": "Description of the repository to create",
                                        "type": "string",
                                        "x-go-name": "Description"
                                    },
                                    "gitignores": {
                                        "description": "Gitignores to use",
                                        "type": "string",
                                        "x-go-name": "Gitignores"
                                    },
                                    "license": {
                                        "description": "License to use",
                                        "type": "string",
                                        "x-go-name": "License"
                                    },
                                    "name": {
                                        "description": "Name of the repository to create",
                                        "type": "string",
                                        "uniqueItems": true,
                                        "x-go-name": "Name"
                                    },
                                    "private": {
                                        "description": "Whether the repository is private",
                                        "type": "boolean",
                                        "x-go-name": "Private"
                                    },
                                    "readme": {
                                        "description": "Readme of the repository to create",
                                        "type": "string",
                                        "x-go-name": "Readme"
                                    }
                                },
                                "required": [
                                    "name"
                                ],
                                "type": "object",
                                "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                            }
                        },
                        "text/plain": {
                            "schema": {
                                "description": "CreateRepoOption options when creating repository",
                                "properties": {
                                    "auto_init": {
                                        "description": "Whether the repository should be auto-intialized?",
                                        "type": "boolean",
                                        "x-go-name": "AutoInit"
                                    },
                                    "description": {
                                        "description": "Description of the repository to create",
                                        "type": "string",
                                        "x-go-name": "Description"
                                    },
                                    "gitignores": {
                                        "description": "Gitignores to use",
                                        "type": "string",
                                        "x-go-name": "Gitignores"
                                    },
                                    "license": {
                                        "description": "License to use",
                                        "type": "string",
                                        "x-go-name": "License"
                                    },
                                    "name": {
                                        "description": "Name of the repository to create",
                                        "type": "string",
                                        "uniqueItems": true,
                                        "x-go-name": "Name"
                                    },
                                    "private": {
                                        "description": "Whether the repository is private",
                                        "type": "boolean",
                                        "x-go-name": "Private"
                                    },
                                    "readme": {
                                        "description": "Readme of the repository to create",
                                        "type": "string",
                                        "x-go-name": "Readme"
                                    }
                                },
                                "required": [
                                    "name"
                                ],
                                "type": "object",
                                "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/markdown": {
            "post": {
                "operationId": "renderMarkdown",
                "responses": {
                    "200": {
                        "description": "MarkdownRender is a rendered markdown document"
                    },
                    "422": {
                        "description": "APIValidationError is error format response related to input validation",
                        "headers": {
                            "message": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "url": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "summary": "Render a markdown document as HTML",
                "tags": [
                    "miscellaneous"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "MarkdownOption markdown options",
                                "properties": {
                                    "Context": {
                                        "description": "Context to render\n\nin: body",
                                        "type": "string"
                                    },
                                    "Mode": {
                                        "description": "Mode to render\n\nin: body",
                                        "type": "string"
                                    },
                                    "Text": {
                                        "description": "Text markdown to render\n\nin: body",
                                        "type": "string"
                                    },
                                    "Wiki": {
                                        "description": "Is it a wiki page ?\n\nin: body",
                                        "type": "boolean"
                                    }
                                },
                                "type": "object",
                                "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                            }
                        },
                        "text/plain": {
                            "schema": {
                                "description": "MarkdownOption markdown options",
                                "properties": {
                                    "Context": {
                                        "description": "Context to render\n\nin: body",
                                        "type": "string"
                                    },
                                    "Mode": {
                                        "description": "Mode to render\n\nin: body",
                                        "type": "string"
                                    },
                                    "Text": {
                                        "description": "Text markdown to render\n\nin: body",
                                        "type": "string"
                                    },
                                    "Wiki": {
                                        "description": "Is it a wiki page ?\n\nin: body",
                                        "type": "boolean"
                                    }
                                },
                                "type": "object",
                                "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                            }
                        }
                    }
                }
            }
        },
        "/markdown/raw": {
            "post": {
                "operationId": "renderMarkdownRaw",
                "responses": {
                    "200": {
                        "description": "MarkdownRender is a rendered markdown document"
                    },
                    "422": {
                        "description": "APIValidationError is error format response related to input validation",
                        "headers": {
                            "message": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "url": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "summary": "Render raw markdown as HTML",
                "tags": [
                    "miscellaneous"
                ],
                "requestBody": {
                    "content": {
                        "text/plain": {
                            "schema": {
                                "type": "string"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "description": "Request body to render",
                    "required": true
                }
            }
        },
        "/org/{org}/repos": {
            "post": {
                "operationId": "createOrgRepo",
                "parameters": [
                    {
                        "description": "name of organization",
                        "in": "path",
                        "name": "org",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {},
                    "403": {
                        "description": "APIForbiddenError is a forbidden error response",
                        "headers": {
                            "message": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "url": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "APIValidationError is error format response related to input validation",
                        "headers": {
                            "message": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "url": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "summary": "Create a repository in an organization",
                "tags": [
                    "organization"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "CreateRepoOption options when creating repository",
                                "properties": {
                                    "auto_init": {
                                        "description": "Whether the repository should be auto-intialized?",
                                        "type": "boolean",
                                        "x-go-name": "AutoInit"
                                    },
                                    "description": {
                                        "description": "Description of the repository to create",
                                        "type": "string",
                                        "x-go-name": "Description"
                                    },
                                    "gitignores": {
                                        "description": "Gitignores to use",
                                        "type": "string",
                                        "x-go-name": "Gitignores"
                                    },
                                    "license": {
                                        "description": "License to use",
                                        "type": "string",
                                        "x-go-name": "License"
                                    },
                                    "name": {
                                        "description": "Name of the repository to create",
                                        "type": "string",
                                        "uniqueItems": true,
                                        "x-go-name": "Name"
                                    },
                                    "private": {
                                        "description": "Whether the repository is private",
                                        "type": "boolean",
                                        "x-go-name": "Private"
                                    },
                                    "readme": {
                                        "description": "Readme of the repository to create",
                                        "type": "string",
                                        "x-go-name": "Readme"
                                    }
                                },
                                "required": [
                                    "name"
                                ],
                                "type": "object",
                                "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                            }
                        },
                        "text/plain": {
                            "schema": {
                                "description": "CreateRepoOption options when creating repository",
                                "properties": {
                                    "auto_init": {
                                        "description": "Whether the repository should be auto-intialized?",
                                        "type": "boolean",
                                        "x-go-name": "AutoInit"
                                    },
                                    "description": {
                                        "description": "Description of the repository to create",
                                        "type": "string",
                                        "x-go-name": "Description"
                                    },
                                    "gitignores": {
                                        "description": "Gitignores to use",
                                        "type": "string",
                                        "x-go-name": "Gitignores"
                                    },
                                    "license": {
                                        "description": "License to use",
                                        "type": "string",
                                        "x-go-name": "License"
                                    },
                                    "name": {
                                        "description": "Name of the repository to create",
                                        "type": "string",
                                        "uniqueItems": true,
                                        "x-go-name": "Name"
                                    },
                                    "private": {
                                        "description": "Whether the repository is private",
                                        "type": "boolean",
                                        "x-go-name": "Private"
                                    },
                                    "readme": {
                                        "description": "Readme of the repository to create",
                                        "type": "string",
                                        "x-go-name": "Readme"
                                    }
                                },
                                "required": [
                                    "name"
                                ],
                                "type": "object",
                                "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                            }
                        }
                    }
                }
            }
        },
        "/orgs": {
            "post": {
                "operationId": "orgCreate",
                "responses": {
                    "201": {
                        "description": "Organization",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Organization represents an organization",
                                    "properties": {
                                        "avatar_url": {
                                            "type": "string",
                                            "x-go-name": "AvatarURL"
                                        },
                                        "description": {
                                            "type": "string",
                                            "x-go-name": "Description"
                                        },
                                        "full_name": {
                                            "type": "string",
                                            "x-go-name": "FullName"
                                        },
                                        "id": {
                                            "format": "int64",
                                            "type": "integer",
                                            "x-go-name": "ID"
                                        },
                                        "location": {
                                            "type": "string",
                                            "x-go-name": "Location"
                                        },
                                        "username": {
                                            "type": "string",
                                            "x-go-name": "UserName"
                                        },
                                        "website": {
                                            "type": "string",
                                            "x-go-name": "Website"
                                        }
                                    },
                                    "type": "object",
                                    "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "description": "Organization represents an organization",
                                    "properties": {
                                        "avatar_url": {
                                            "type": "string",
                                            "x-go-name": "AvatarURL"
                                        },
                                        "description": {
                                            "type": "string",
                                            "x-go-name": "Description"
                                        },
                                        "full_name": {
                                            "type": "string",
                                            "x-go-name": "FullName"
                                        },
                                        "id": {
                                            "format": "int64",
                                            "type": "integer",
                                            "x-go-name": "ID"
                                        },
                                        "location": {
                                            "type": "string",
                                            "x-go-name": "Location"
                                        },
                                        "username": {
                                            "type": "string",
                                            "x-go-name": "UserName"
                                        },
                                        "website": {
                                            "type": "string",
                                            "x-go-name": "Website"
                                        }
                                    },
                                    "type": "object",
                                    "x-go-package": "code.gitea.io/gitea/vendor/code.gitea.io/sdk/gitea"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "APIForbiddenError is a forbidden error response",
                        "headers": {
                            "message": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "url": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "APIValidationError is error format response related to input validation",
                        "headers": {
                            "message": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "url": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "summary": "Create an organization",
                "tags": [
                    "organization"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "CreateOrgOption options for creating an organization",
                                "properties": {
                                    "description": {
                                        "type": "string",
                                        "x-go-name": "Description"
                                    },
                                    "full_name": {
                                        "type": "string",
                                        "x-go-name": "FullName"
                                    },
                                    "location": {
                                        "type": "string",
                                        "x-go-name": "Location"
[...]
